/* /////////////////辅助线///////////////// */
/* .mirror {
  border: 2px solid #f000f0;
} */

/* .mirror1 {
    border: 2px solid #0400f0;
}

.mirror2 {
    border: 2px solid #00ff33;
}

.mirror3 {
  border: 2px solid #000000;
} */

/* .mirror4 {
  border: 2px solid #ff0000;
} */

/* /////////////////辅助线///////////////// */

.phone-beta-2 {
  display: none;
}

/* /////////////////版本切换///////////////// */
/* 版本按钮框架 */
.beta-frame {
  position: fixed;
  width: 100px;
  height: 100px;
  z-index: 111111;
}

/* 版本按钮大小 */
.beta-frame-info {
  width: 100px;
  height: 100px;
  margin: 20px;
}

/* 上层圆 */
.beta-img-info-1 {
  z-index: 111;
  background-color: #2e260c;
}

/* 激活变色 */
.beta .beta-img-info-1 {
  z-index: 111;
  background-color: #0c101d;
}

/* 下层圆 */
.beta-img-info-2 {
  background-color: #a3b26e;
  margin-left: 10%;
}

/* 激活变色 */
.beta .beta-img-info-2 {
  background-color: #8e1c0d;
  margin-left: 10%;
}

/* 上层圆内设置 */
.beta-info-1 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  transform-origin: left;
  transition: 0.3s;
}

/* 选中拉长 */
.beta-info-1:hover {
  width: 150px;
  transition: 0.3s;
  transform-origin: left;
}

/* 版本号字体设置 */
.beta-font-1 {
  font-size: 1.2rem;
  display: block;
}

/* 切换时隐藏 */
.beta .beta-font-1 {
  display: none;
}

/* 版本号字体设置 */
.beta-font-2 {
  font-size: 1.2rem;
  display: none;
}

/* 切换时隐藏 */
.beta .beta-font-2 {
  display: block;
}

/* 版本号初始隐藏 */
.beta-info-1 .beta-font-1 {
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s;
  text-align: center;
}

/* 选中显示版本号 */
.beta-info-1:hover .beta-font-1 {
  transform: scaleX(1);
  transition: 0.3s;
}

/* 选中隐藏版本图标 */
.beta-info-1:hover .beta-img {
  width: 0px;
}

/* 按钮信息初始隐藏 */
.beta-info-1 .beta-font-2 {
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s;
  text-align: center;
}

/* 选中显示版本号 */
.beta-info-1:hover .beta-font-2 {
  transform: scaleX(1);
  transition: 0.3s;
}

/* 选中隐藏版本图标 */
.beta-info-1:hover .beta-img {
  width: 0px;
}

/* 图标大小 */
.beta-img {
  width: 40px;
  transition: 0.3s;
}

/* 图标隐藏 */
.img-beta-2-1 {
  display: none;
}

/* 图标显示 */
.beta .img-beta-2-1 {
  display: block;
}

/* 图标显示 */
.img-beta-2-2 {
  display: block;
}

/* 图标隐藏 */
.beta .img-beta-2-2 {
  display: none;
}

/* 第二版整体隐藏 */
.beta-frame-1 {
  margin-left: 100%;
  transition: 0.3s;
}

/* 第二版整体显示 */
.Button-Beta-M1-3-0-js .beta-frame-1 {
  margin-left: 0%;
  transition: 0.3s;
}

/* 第三版整体隐藏 */
.beta-frame-2 {
  margin-left: 0%;
  transition: 0.3s;
}

/* 第三版整体显示 */
.beta .beta-frame-2 {
  margin-left: 100%;
  transition: 0.3s;
}

/* /////////////////版本切换///////////////// */

/* 背景 */
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -111;
}

/* 整体框架 */
.one-frame {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

/* /////////////////首页///////////////// */
/* 内容框架 */
.Content-Restrictions-1 {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 盒子大小设置 */
.div-frame {
  width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 固定图片大小 */
.imges-size-1 {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  z-index: 2;
    mix-blend-mode: multiply;
}

/* .imges-size-1-1 {
  position: absolute;
  width: 50%;
  height: 100%;
  margin-right: 40%;
  background-color: #a3b26e;
  z-index: 2;
} */

/* .imges-size-1-2 {
  position: absolute;
  width: 50%;
  height: 100%;
  margin-right: 35%;
  background-color: #2e260c;
} */

.img-11 {
  mix-blend-mode: multiply;
}

/* 激活后隐藏 */
.toggle-beta-2 .imges-size-1 {
  width: 100%;
  height: 0%;
  transition: 0.3s;
}

/* 右边框架 */
.div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 按钮 */
.div-2-1 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 标题显示 */
.div-2-2 {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 标题间距 */
.Title-spacing {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Title-background-color {
  width: 100%;
  height: 50%;
  background-color: #2e260c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.toggle-beta-2 .Title-background-color {
  width: 0%;
  height: 0%;
  transition: 0.3s;
}

/* 标题1 */
.Title-1 {
  width: 100%;
  transition: 0.3s;
}

/* 激活后隐藏 */
.toggle-beta-2 .Title-1 {
  width: 0%;
  transition: 0.3s;
}

/* 标题2 */
.Title-2 {
  width: 50%;
  transition: 0.4s;
}

/* 激活后隐藏 */
.toggle-beta-2 .Title-2 {
  width: 0%;
  transition: 0.4s;
}

/* 标题3 */
.Title-3 {
  width: 30%;
  transition: 0.5s;
}

/* 激活后隐藏 */
.toggle-beta-2 .Title-3 {
  width: 0%;
  transition: 0.5s;
}

/* 备案号 */
.div-2-3 {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

/* 备案号设置 */
.font-size {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 文字大小设置 */
.div-font {
  color: #0c101d;
  z-index: 111;
  font-size: 1.1rem;
  font-weight: bold;
}

/* 去除超链接效果 */
.div-2-3 a {
  text-decoration: none;
}

/* /////////////////首页///////////////// */

/* /////////////////菜单栏///////////////// */
/* 内容框架 */
.Content-Restrictions-2 {
  position: absolute;
  width: 0%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  transition: 0.3s;
}

/* 激活后显示 */
.toggle-beta-2 .Content-Restrictions-2 {
  width: 90%;
  transition: 0.3s;
}

/* 显示日志页面时隐藏 */
.beta-2-log-js .Content-Restrictions-2 {
  width: 0%;
  transition: 0.3s;
}

/* 固定图片大小 */
.imges-size-2 {
  width: 0%;
  height: 0%;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

/* 激活后显示 */
.toggle-beta-2 .imges-size-2 {
  width: 100%;
  height: 90%;
  transition: 0.3s;
}

/* 显示日志页面时隐藏 */
.beta-2-log-js .imges-size-2 {
  width: 0%;
  height: 0%;
  transition: 0.3s;
}

/* 菜单栏框架设置 */
.button-frame-index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* 菜单栏按钮框架大小 */
.div-button-frame {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* 上层圆 */
.div-button-1 {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a3b26e;
  z-index: 2;
  transition: 0.3s;
}

/* 选中拉长 */
.div-button-1:hover {
  width: 150px;
  transform: rotate(-15deg);
  transform-origin: left;
  margin-top: 10%;
  transition: 0.3s;
}

/* 下层圆 */
.div-button-2 {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  left: 18%;
  background-color: #2e260c;
  z-index: 1;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* 选中拉长 */
.div-button-2:hover {
  width: 150px;
  transform: rotate(-25deg);
  transform-origin: left;
  margin-top: 10%;
  transition: 0.3s;
}

/* 图标大小 */
.iconfont-1 {
  font-size: 2rem;
  color: #ffffff;
  transition: 0.3s;
}

/* 文字大小 */
.font-button-1 {
  font-size: 1.5rem;
  color: #ffffff;
}

.font-button-2 {
  margin-left: 45%;
  font-size: 1rem;
  color: #ffffff;
}

/* 选中图标靠右 */
.div-button-1:hover .iconfont-1 {
  margin-right: 35%;
  transition: 0.3s;
}

/* 按钮信息初始隐藏 */
.div-button-1 > span:nth-child(2) {
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  text-align: center;
}

/* 按钮信息初始隐藏 */
.div-button-2 > span:nth-child(1) {
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  text-align: center;
}

/* 显示文字 */
.div-button-2:hover > span:nth-child(1) {
  transform: scaleX(1);
}

/* 显示文字 */
.div-button-1:hover > span:nth-child(2) {
  transform: scaleX(1);
}

/* 隐藏图标 */
.div-button-1:hover > span:nth-child(1) {
  transform: scaleX(0);
}

/* 整体隐藏 */
.margin-frame {
  display: none;
}

/* 激活后显示 */
.toggle-beta-2 .margin-frame {
  display: block;
}

/* 显示日志页面整体隐藏 */
.beta-2-log-js .margin-frame {
  display: none;
}

/* 按钮向右偏移 */
.margin-1 {
  margin-left: 45%;
}

/* 按钮向右偏移 */
.margin-2 {
  margin-left: 40%;
}

/* 按钮向右偏移 */
.margin-3 {
  margin-left: 35%;
}

/* 按钮向右偏移 */
.margin-4 {
  margin-left: 30%;
}

/* 按钮向右偏移 */
.margin-5 {
  margin-left: 25%;
}

/* /////////////////菜单栏///////////////// */

/* /////////////////日志///////////////// */
.beta-2-log-js .Content-Restrictions-4 {
  display: none;
}

/* 内容框架 */
.Content-Restrictions-3 {
  position: absolute;
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  transition: 0.3s;
}

/* 左边框架 */
.beta-2-log-1 {
  width: 0%;
  height: 0%;
  transition: 0.3s;
}

.beta-2-log-js .beta-2-log-1 {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 右边框架 */
.beta-2-log-2 {
  width: 0%;
  height: 0%;
  display: flex;
  justify-content: center;
}

/* 显示日志页面图片 */
.beta-2-log-js .beta-2-log-2 {
  width: 100%;
  height: 90%;
  transition: 0.3s;
}

/* 日志内容框架隐藏 */
.beta-2-log-1-1 {
  display: none;
}

/* 框架大小设置及显示 */
.beta-2-log-js .beta-2-log-1-1 {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* 日志标题文字设置 */
.beta-2-log-1-title {
  font-size: 1.8rem;
  font-family: "华文隶书";
  margin-bottom: 2%;
}

/* 日志版本号字体设置 */
.beta-2-log-1-version {
  font-size: 1.5rem;
  font-family: "华文隶书";
  margin-bottom: 2%;
}

/* 日志内容字体设置 */
.beta-2-log-1-content {
  font-size: 1.2rem;
  font-family: "华文隶书";
  letter-spacing: 10px;
  line-height: 40px;
  text-indent: 2cm;
}

/* 小贴士字体设置 */
.beta-2-log-1-tips {
  font-size: 0.5rem;
  font-family: "华文隶书";
  margin-top: 20px;
  letter-spacing: 10px;
  font-weight: bold;
}

/* 进度条框架 */
.beta-2-log-1-Progress {
  margin-top: 7%;
  position: relative;
  display: flex;
  align-items: center;
}

/* 进度条的线 */
.beta-2-log-1-Progress-line {
  width: 100%;
  height: 3px;
  background-color: #2e260c;
}

/* 进度条的圆点组 */
.beta-2-log-1-Progress-round {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

/* 进度条的圆点 */
.beta-2-log-1-Progress-round-1 {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #2e260c;
  cursor: pointer;
}

/* 版本信息 */
.beta-2-log-1-txt {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

/* 版本信息字体设置 */
.beta-2-log-1-txt-font {
  font-size: 1.2rem;
  font-family: "华文隶书";
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

/* M1.0.0更新内容隐藏 */
.beta-2-txt-1 {
  width: 0%;
  height: 0%;
  transition: 0.3s;
}

/* M1.0.0更新内容显示 */
.beta-2-M1_0_0-js .beta-2-txt-1 {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.beta-2-txt-1-1 {
  display: none;
}

.beta-2-M1_0_0-js .beta-2-txt-1-1 {
  display: block;
}

.beta-2-txt-2 {
  width: 0%;
  height: 0%;
  transition: 0.3s;
}

.beta-2-M1_1_0-js .beta-2-txt-2 {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.beta-2-txt-1-2 {
  display: none;
}

.beta-2-M1_1_0-js .beta-2-txt-1-2 {
  display: block;
}

/* /////////////////////////////// */
.beta-2-txt-3 {
  width: 0%;
  height: 0%;
  transition: 0.3s;
}

.beta-2-M1_2_0-js .beta-2-txt-3 {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.beta-2-txt-1-3 {
  display: none;
}

.beta-2-M1_2_0-js .beta-2-txt-1-3 {
  display: block;
}

/* ///////////////////////////////// */
.beta-2-txt-4 {
  width: 0%;
  height: 0%;
  transition: 0.3s;
}

.beta-2-M1_3_0-js .beta-2-txt-4 {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.beta-2-txt-1-4 {
  display: none;
}

.beta-2-M1_3_0-js .beta-2-txt-1-4 {
  display: block;
}

/* ///////////////////////////////// */
.beta-2-txt-5 {
  width: 0%;
  height: 0%;
  transition: 0.3s;
}

.beta-2-M1_4_0-js .beta-2-txt-5 {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.beta-2-txt-1-5 {
  display: none;
}

.beta-2-M1_4_0-js .beta-2-txt-1-5 {
  display: block;
}

/* /////////////////日志///////////////// */

/* /////////////////作品///////////////// */
.Content-Restrictions-4 {
  position: absolute;
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  transition: 0.3s;
}

/* 显示日志页面时隐藏 */
.beta-2-project-js .imges-size-2 {
  width: 0%;
  height: 0%;
  transition: 0.3s;
}

/* 显示日志页面整体隐藏 */
.beta-2-project-js .margin-frame {
  display: none;
}

/* 显示日志页面时隐藏 */
.beta-2-project-js .Content-Restrictions-2 {
  width: 0%;
  transition: 0.3s;
}

.project-div-frame-1 {
  position: relative;
  width: 0%;
  height: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.beta-2-project-js .project-div-frame-1 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.project-img {
  width: 25%;
  height: auto;
  display: flex;
}

.project-div-1 {
  position: absolute;
  width: 80%;
  height: 80%;
  display: none;
  object-fit: cover;
  border: 5px solid #a3b26e;
  /* background-color: #a3b26e; */
}

.beta-2-project-js .project-div-1 {
  display: block;
}

.project-div-frame-1-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.project-div-2 {
  width: 16%;
  height: 40%;
  margin-left: 2%;
  border-radius: 20px;
  /* background-color: #2e260c; */
  border: 5px solid #2e260c;
  display: none;
  z-index: 2;
}

.beta-2-project-js .project-div-2 {
  display: block;
}

.project-div-frame-2 {
  position: absolute;
  width: 0%;
  height: 0%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transition: 0.3s;
}

.beta-2-project-js .project-div-frame-2 {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
/* /////////////////作品///////////////// */

/* /////////////////关于///////////////// */

.beta-2-about-js .Content-Restrictions-1 {
  display: none;
}

.beta-2-about-js .Content-Restrictions-2 {
  display: none;
}

.Content-Restrictions-5 {
  position: absolute;
  width: 0%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: cover;
  transition: 0.3s;
}

.beta-2-about-js .Content-Restrictions-5 {
  position: absolute;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: cover;
  transition: 0.3s;
}

.about-frame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-frame-1 {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-frame-2 {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-frame-1-font {
  font-size: 1.1rem;
  letter-spacing: 10px;
  line-height: 40px;
  text-indent: 2rem;
  display:none;
}

.beta-2-about-js .about-frame-1-font {
display: block;
}


.about-frame-2-img {
  width: 50%;
}

/* /////////////////关于///////////////// */

@media (max-width: 900px) {
  .beta-frame {
    display: none;
  }

  .beta-frame-1 {
    display: none;
  }

  .PC-beta-2 {
    display: none;
  }

  .phone-beta-2 {
    display: block;
    position: absolute;
  }

  .Content-Restrictions-1-phone {
    /* width: 100%;
    height: 100%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .div-frame-1-phone {
    width: 100%;
    height: 10vh;
  }

  .div-frame-2-phone {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div-frame-2-phone-1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }

  .toggle-beta-2 .div-frame-2-phone-1 {
    width: 0%;
    transition: 0.3s;
  }

  .div-frame-2-phone-1-img {
    width: 150%;
  }

  .div-frame-2-phone-2 {
    position: absolute;
    height: 17%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .div-frame-2-phone-2-div {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.3s;
  }

  .toggle-beta-2 .div-frame-2-phone-2-div {
    width: 0%;
    transition: 0.3s;
  }

  .div-frame-3-phone {
    width: 100%;
    height: 10vh;
  }

  .div-frame-2-phone-2-1 {
    height: 45px;
    background-color: #2e260c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div-frame-2-phone-2-1-img-1 {
    width: 100%;
  }

  .div-frame-2-phone-2-2 {
    width: 70%;
    background-color: #a3b26e;
  }

  .div-frame-2-phone-2-2-img-2 {
    width: 100%;
  }

  .div-frame-2-phone-2-3 {
    width: 60%;
    background-color: #a3b26e;
  }

  .div-frame-2-phone-2-3-img-3 {
    width: 100%;
  }

  /* 备案号 */
  .div-2-3 {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
  }

  /* 备案号设置 */
  .font-size {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    align-items: center;
  }

  /* 文字大小设置 */
  .div-font {
    color: #0c101d;
    z-index: 111;
    font-size: 0.5rem;
    font-weight: bold;
  }

  /* 去除超链接效果 */
  .div-2-3 a {
    text-decoration: none;
  }

  /* /////////////////菜单栏///////////////// */
  .Content-Restrictions-2-phone {
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    display: flex;
    transition: 0.3s;
    z-index: 2;
  }

  .toggle-beta-2 .Content-Restrictions-2-phone {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    transition: 0.3s;
  }

  .beta-2-log-js .Content-Restrictions-2-phone {
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    display: flex;
    transition: 0.3s;
    z-index: 2;
  }

  .div-log-1-phone {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .div-log-2-phone {
    width: 300%;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }

  .div-img-1-phone {
    width: 100%;
  }

  .div-log-button-phone {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div-log-button-1-phone {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e260c;
    margin-left: 23%;
    border-radius: 50px;
  }

  .div-log-button-2-phone {
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a3b26e;
    border-radius: 50px;
  }

  .div-button-iconfont {
    font-size: 1.2rem;
  }

  .div-button-font {
    font-size: 1rem;
  }

  /* /////////////////日志///////////////// */
  .Content-Restrictions-3-phone {
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    z-index: 3;
  }

  .beta-2-log-js .Content-Restrictions-3-phone {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    /* z-index: 3; */
  }

  .div-log-frame-1-phone {
    width: 100%;
    height: 100%;
  }

  .div-log-frame-1-img-phone {
    width: 100%;
  }

  .div-log-frame-2-phone {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div-log-frame-2-2-phone {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
  }

  /* 进度条框架 */
  .beta-2-log-1-Progress-phone {
    margin-top: 7%;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
  }

  /* 进度条的线 */
  .beta-2-log-1-Progress-line-phone {
    width: 100%;
    height: 3px;
    background-color: #2e260c;
  }

  /* 进度条的圆点组 */
  .beta-2-log-1-Progress-round-phone {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
  }

  /* 进度条的圆点 */
  .beta-2-log-1-Progress-round-1-phone {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #2e260c;
    cursor: pointer;
  }

  /* 版本信息 */
  .beta-2-log-1-txt-phone {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  /* 版本信息字体设置 */
  .beta-2-log-1-txt-font-phone {
    font-size: 0.8rem;
    font-family: "华文隶书";
    cursor: pointer;
    text-decoration: none;
    user-select: none;
  }

  /* 日志标题文字设置 */
  .beta-2-log-1-title-phone {
    font-size: 1.2rem;
    font-family: "华文隶书";
    margin-bottom: 2%;
  }

  /* 日志版本号字体设置 */
  .beta-2-log-1-version-phone {
    font-size: 1rem;
    font-family: "华文隶书";
    margin-bottom: 2%;
  }

  /* 日志内容字体设置 */
  .beta-2-log-1-content-phone {
    font-size: 0.9rem;
    font-family: "华文隶书";
    letter-spacing: 10px;
    line-height: 40px;
    text-indent: 2cm;
  }

  /* 小贴士字体设置 */
  .beta-2-log-1-tips-phone {
    font-size: 0.5rem;
    font-family: "华文隶书";
    margin-top: 20px;
    /* letter-spacing: 2px; */
    font-weight: bold;
  }

  /* M1.0.0更新内容显示 */
  .beta-2-M1_0_0-js .beta-2-txt-1 {
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

  .beta-2-txt-1-1 {
    display: none;
  }

  .beta-2-M1_0_0-js .beta-2-txt-1-1 {
    display: block;
  }

  .beta-2-txt-2 {
    width: 0%;
    height: 0%;
    transition: 0.3s;
  }

  .beta-2-M1_1_0-js .beta-2-txt-2 {
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

  .beta-2-txt-1-2 {
    display: none;
  }

  .beta-2-M1_1_0-js .beta-2-txt-1-2 {
    display: block;
  }

  /* /////////////////////////////// */
  .beta-2-txt-3 {
    width: 0%;
    height: 0%;
    transition: 0.3s;
  }

  .beta-2-M1_2_0-js .beta-2-txt-3 {
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

  .beta-2-txt-1-3 {
    display: none;
  }

  .beta-2-M1_2_0-js .beta-2-txt-1-3 {
    display: block;
  }

  /* ///////////////////////////////// */
  .beta-2-txt-4 {
    width: 0%;
    height: 0%;
    transition: 0.3s;
  }

  .beta-2-M1_3_0-js .beta-2-txt-4 {
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

  .beta-2-txt-1-4 {
    display: none;
  }

  .beta-2-M1_3_0-js .beta-2-txt-1-4 {
    display: block;
  }

  /* ///////////////////////////////// */
  .beta-2-txt-5 {
    width: 0%;
    height: 0%;
    transition: 0.3s;
  }

  .beta-2-M1_4_0-js .beta-2-txt-5 {
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

  .beta-2-txt-1-5 {
    display: none;
  }

  .beta-2-M1_4_0-js .beta-2-txt-1-5 {
    display: block;
  }

  /* .mirror {
    border: 2px solid #f000f0;
  } */

  /* .mirror1 {
    border: 2px solid #0400f0;
  } */

  /* .mirror2 {
    border: 2px solid #00ff33;
  } */

  /* .mirror3 {
    border: 2px solid #000000;
  } */
}
