/* body的设置 */
body {
    margin: 0%;
    position: relative;
    overflow: hidden;
    user-select: none;
}

/* 页面整体框架 */
.Index-Frame-Pc {
    width: 100%;
    height: 100vh;
}

/* 左右两边框架 */
.Index-Frame-All-Pc {
    width: 50%;
    height: 100%;
}

/* 图片模块和内容模块的统一设置 */
.Index-Imges-Info-All-Pc {
    width: 100%;
}

/* 第一模块 */
.Index-Imges-Info-1-Pc {
    height: 20%;
}

/* 第二模块 */
.Index-Imges-Info-2-Pc {
    height: 100%;
}

/* 第三模块 */
.Index-Imges-Info-3-Pc {
    height: 20%;
}