
/* /////////////////参考线///////////////// */
/* 一级参考线 */
.Alpha-Guides-1 {
    border: 2px solid #ff0000;
}

/* 二级参考线 */
.Alpha-Guides-2 {
    border: 2px solid #0000ff;
}

/* 三级参考线 */
.Alpha-Guides-3 {
    border: 2px solid #00ff00;
}

/* /////////////////辅助线///////////////// */
.Test{
    width: 500px;
    height: 500px;
}