.mirror-beta-3-1 {
  border: 0px solid #ff0000;
}

.Mirror-border-js .mirror-beta-3-1 {
  border: 1px solid #ff0000;
}

.mirror-beta-3-2 {
  border: 0px solid #0008ff;
}

.Mirror-border-js .mirror-beta-3-2 {
  border: 1px solid #0008ff;
}

.mirror-beta-3-3 {
  border: 0px solid #ff00d9;
}

.Mirror-border-js .mirror-beta-3-3 {
  border: 1px solid #ff00d9;
}

.mirror-beta-3-4 {
  border: 0px solid #09ff00;
}

.Mirror-border-js .mirror-beta-3-4 {
  border: 1px solid #09ff00;
}

.mirror-beta-3-5 {
  border: 0px solid #f6ff00;
}

.Mirror-border-js .mirror-beta-3-5 {
  border: 1px solid #f6ff00;
}

/* .mirror-beta-3-6 {
  border: 1px solid #7bff00;
} */

/* /////////////////封装的display样式///////////////// */
.display-justify-center-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /////////////////封装的display样式///////////////// */

/* /////////////////版本切换///////////////// */
/* 上层圆 */
.Beta-frame-2-1-button-1-1-PC {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  background-color: #0c101d;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

/* 使按钮永远在第一层上 */
.Beat-fixed {
  z-index: 11111111;
}

/* /////////////////首页///////////////// */

/* 暂时隐藏第三版 */
.beta-frame-2 {
  margin-left: -100%;
}

/* 切换显示第三版 */
.Button-Beta-M2-0-0-js .beta-frame-2 {
  margin-left: 0%;
  z-index: 111111;
}

/* 第一版层级顶层 */
.beta-frame-1 {
  z-index: 1111;
}

/* 第四版整体框架 */
.beta-frame-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0%;
  transition: 0.3s;
  user-select: none;
}

/* 背景 */
.beta-frame-3-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #f3f7ff;
  z-index: -10;
}

/* 页面框架大小 */
.web-frame-PC {
  position: relative;
  width: 90%;
  height: 100vh;
  display: flex;
}

/* 右侧框架大小 */
.web-frame-1-PC {
  width: 75%;
}

/* 人物背景大小 */
.web-frame-1-0-PC {
  position: absolute;
  width: 50%;
  height: 100%;
}

/* 暗蓝色底色 */
.web-frame-1-1-PC {
  margin-left: 7.5%;
  background-color: #0c101d;
  z-index: 2;
  transition: 0.3s;
}

.toggle-beta-3 .web-frame-1-1-PC {
  margin-left: -70%;
}

.Beta-3-Personal-Js .web-frame-1-1-PC {
  margin-left: -80%;
}

.Beta-3-about-Js .web-frame-1-1-PC {
  margin-left: 11%;
}

.Beta-3-project-Js .web-frame-1-1-PC {
  margin-left: -80%;
}

.Beta-3-Song-Js .web-frame-1-1-PC {
  margin-left: -200%;
}

/* 红色底色 */
.web-frame-1-2-PC {
  margin-left: 6%;
  background-color: #b73625;
  transition: 0.5s;
}

.toggle-beta-3 .web-frame-1-2-PC {
  margin-left: -68.5%;
}

.Beta-3-Personal-Js .web-frame-1-2-PC {
  margin-left: -78.5%;
}

.Beta-3-about-Js .web-frame-1-2-PC {
  margin-left: 9%;
}

.Beta-3-project-Js .web-frame-1-2-PC {
  margin-left: -78.5%;
}

.Beta-3-Song-Js .web-frame-1-2-PC {
  margin-left: -200%;
}

/* display设置为垂直居中向下分布靠左 */
.display-center-center-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

/* display设置为水平居中靠左 */
.display-center-flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* display设置为水平居中 */
.display-center {
  display: flex;
  align-items: center;
}

/* 左边框架 */
.web-frame-2-PC {
  width: 100%;
  height: 100%;
}

/* 第一模块 */
.web-frame-2-1-PC {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
}

/* 按钮部分 */
.web-frame-2-1-1-PC {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 按钮空间大小 */
.web-frame-2-1-buttonn-0-PC {
  width: 100px;
  height: 100px;
}

/* display为垂直居中水平居中 */
.display-center-center-button-PC {
  position: relative;
  display: flex;
  align-items: center;
}

/* 上层圆 */
.web-frame-2-1-button-1-1-PC {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  background-color: #0c101d;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 下层圆 */
.web-frame-2-1-button-1-2-PC {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  margin-left: 13%;
  background-color: #b73625;
}

/* 图标大小 */
.iconfont-font-1 {
  font-size: 1.8rem;
  color: #f3f7ff;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

/* 切换隐藏 */
.Mirror-border-js .iconfont-font-1 {
  display: none;
}

/* 图标大小初始隐藏 */
.iconfont-font-2 {
  display: none;
  font-size: 1.8rem;
  color: #f3f7ff;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

/* 切换显示 */
.Mirror-border-js .iconfont-font-2 {
  display: block;
}

/* 右边第二模块 */
.web-frame-2-2-PC {
  width: 100%;
  height: 100%;
}

/* 右边第三模块 */
.web-frame-2-3-PC {
  width: 100%;
  height: 20%;
}

/* 标题框架 */
.web-frame-2-2-2-PC {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 动态图标大小及颜色叠加 */
.web-frame-2-2-2-title-3-PC {
  position: absolute;
  width: 50%;
  height: 36%;
  left: -2.5%;
  z-index: 2;
  transition: 0.5s;
}

.toggle-beta-3 .web-frame-2-2-2-title-3-PC {
  margin-left: -200%;
}

/* 人物框架 */
.web-frame-1-2 {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.toggle-beta-3 .web-frame-1-2 {
  z-index: 1;
}

/* 人物 */
.web-frame-1-2-img-1 {
  position: absolute;
  margin-left: -5%;
  height: 100%;
  z-index: 4;
  transition: 0.5s;
}

.toggle-beta-3 .web-frame-1-2-img-1 {
  margin-left: 100%;
}

/* 纯色人物 */
.web-frame-1-2-img-2 {
  position: absolute;
  margin-left: -7%;
  height: 100%;
  z-index: 4;
  transition: 0.7s;
}

.toggle-beta-3 .web-frame-1-2-img-2 {
  margin-left: 100%;
}

/* 备案号 */
.web-frame-2-3-code-PC {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

/* 备案号设置 */
.font-size {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 文字大小设置 */
.div-font {
  color: #0c101d;
  z-index: 111;
  font-size: 1.1rem;
  font-weight: bold;
}

.toggle-beta-3 .div-font {
  color: #f3f7ff;
}

/* 去除超链接效果 */
.font-size a {
  text-decoration: none;
}

/* /////////////////首页///////////////// */

/* /////////////////菜单栏///////////////// */
.toggle-frame-PC {
  position: absolute;
  width: 90%;
  height: 100vh;
  display: flex;
  z-index: 2;
  user-select: none;
}

/* 左边框架 */
.toggle-frame-1-PC {
  width: 100%;
  height: 100%;
}

/* 人物 */
.toggle-frame-1-img-1-PC {
  position: absolute;
  margin-left: -100%;
  height: 100%;
  z-index: 4;
  transition: 0.5s;
}

/* 激活显示 */
.toggle-beta-3 .toggle-frame-1-img-1-PC {
  position: absolute;
  margin-left: 2%;
  height: 100%;
  z-index: 4;
}

.Beta-3-Personal-Js .toggle-frame-1-img-1-PC {
  margin-left: -100%;
}

.Beta-3-about-Js .toggle-frame-1-img-1-PC {
  margin-left: -100%;
}

.Beta-3-project-Js .toggle-frame-1-img-1-PC {
  margin-left: -100%;
}

.Beta-3-Song-Js .toggle-frame-1-img-1-PC {
  margin-left: -100%;
}

/* 纯色人物 */
.toggle-frame-1-img-2-PC {
  position: absolute;
  margin-left: -100%;
  height: 100%;
  z-index: 3;
  transition: 0.7s;
}

/* 激活显示 */
.toggle-beta-3 .toggle-frame-1-img-2-PC {
  margin-left: 0%;
}

.Beta-3-Personal-Js .toggle-frame-1-img-2-PC {
  margin-left: -100%;
}

.Beta-3-about-Js .toggle-frame-1-img-2-PC {
  margin-left: -100%;
}

.Beta-3-project-Js .toggle-frame-1-img-2-PC {
  margin-left: -100%;
}

.Beta-3-Song-Js .toggle-frame-1-img-2-PC {
  margin-left: -100%;
}

/* 右边框架 */
.toggle-frame-2-PC {
  margin-top: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.5s;
}

/* 激活显示 */
.toggle-beta-3 .toggle-frame-2-PC {
  margin-top: 0%;
}

.Beta-3-Personal-Js .toggle-frame-2-PC {
  margin-top: -100%;
}

.Beta-3-about-Js .toggle-frame-2-PC {
  margin-top: -100%;
}

.Beta-3-project-Js .toggle-frame-2-PC {
  margin-top: -100%;
}

.Beta-3-Song-Js .toggle-frame-2-PC {
  margin-top: -100%;
}

/* 按钮空间大小 */
.toggle-frame-2-buton-0-PC {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}

/* 上层圆 */
.toggle-frame-2-buton-1-PC {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  background-color: #0c101d;
  z-index: 2;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

/* 选中拉长 */
.toggle-frame-2-buton-1-PC:hover {
  width: 120px;
}

/* 下层圆 */
.toggle-frame-2-buton-2-PC {
  position: absolute;
  margin-left: 0.8%;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  background-color: #b73625;
}

/* 显示速度 */
.transition-1 {
  margin-top: -100%;
  transition: 0.3s;
}

/* 显示速度 */
.toggle-beta-3 .transition-1 {
  margin-top: 0%;
}

/* 显示速度 */
.transition-2 {
  margin-top: -100%;
  transition: 0.4s;
}

/* 显示速度 */
.toggle-beta-3 .transition-2 {
  margin-top: 0%;
}

/* 显示速度 */
.transition-3 {
  margin-top: -100%;
  transition: 0.5s;
}

/* 显示速度 */
.toggle-beta-3 .transition-3 {
  margin-top: 0%;
}

/* 显示速度 */
.transition-4 {
  margin-top: -100%;
  transition: 0.6s;
}

/* 显示速度 */
.toggle-beta-3 .transition-4 {
  margin-top: 0%;
}

/* 显示速度 */
.transition-5 {
  margin-top: -100%;
  transition: 0.7s;
}

/* 显示速度 */
.toggle-beta-3 .transition-5 {
  margin-top: 0%;
}

/* 显示速度 */
.toggle-iconfont-font-1 {
  display: block;
  font-size: 1.5rem;
  color: #f3f7ff;
}

/* 显示速度 */
.toggle-iconfont-font-2 {
  font-size: 1.3rem;
  color: #f3f7ff;
}

.toggle-iconfont-font-2-a {
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  color: #f3f7ff;
}

/* 版本号初始隐藏 */
.toggle-frame-2-buton-1-PC .toggle-iconfont-font-2 {
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s;
  text-align: center;
}

/* 选中显示版本号 */
.toggle-frame-2-buton-1-PC:hover .toggle-iconfont-font-2 {
  transform: scaleX(1);
  transition: 0.2s;
}

/* 选中隐藏版本图标 */
.toggle-frame-2-buton-1-PC:hover .toggle-iconfont-font-1 {
  display: none;
}

/* /////////////////菜单栏///////////////// */

/* /////////////////个人///////////////// */
.personal-frame-PC {
  position: absolute;
  width: 90%;
  height: 100vh;
  display: flex;
  z-index: 1;
  user-select: none;
}

.Beta-3-Personal-Js .personal-frame-PC {
  z-index: 2;
}

/* 左框架 */
.personal-frame-1-PC {
  position: relative;
  width: 80%;
  height: 100%;
}

/* 隐藏人物图片 */
.personal-frame-img-1-PC {
  position: absolute;
  margin-left: -1000%;
  z-index: 2;
  transition: 0.5s;
}

/* 激活显示人物图片 */
.Beta-3-Personal-Js .personal-frame-img-1-PC {
  margin-left: 10%;
  transition: 0.5s;
}

/* 隐藏纯色人物 */
.personal-frame-img-2-PC {
  position: absolute;
  margin-left: -1000%;
  transition: 0.8s;
}

/* 激活显示纯色人物 */
.Beta-3-Personal-Js .personal-frame-img-2-PC {
  margin-left: 13%;
  transition: 0.8s;
}

/* 右框架 */
.personal-frame-2-PC {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 内部上框架 */
.personal-frame-2-1-PC {
  width: 100%;
  height: 100%;
  margin-right: -1000%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

/* 激活显示个人介绍卡片 */
.Beta-3-Personal-Js .personal-frame-2-1-PC {
  margin-right: 0%;
}

/* 内部下框架 */
.personal-frame-2-2-PC {
  margin-left: 1000%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

/* 激活显示技能卡片 */
.Beta-3-Personal-Js .personal-frame-2-2-PC {
  margin-left: 0%;
}

/* 个人信息 */
.personal-info-1-PC {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

/* 个人信息左边框架 */
.personal-info-1-1-PC {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 介绍人物图片 */
.personal-info-1-img-1-PC {
  position: absolute;
  width: 18%;
  z-index: 1;
}

/* 介绍纯色人物图片 */
.personal-info-1-img-2-PC {
  position: absolute;
  margin-left: 2%;
  width: 18%;
}

/* 个人信息右边框架 */
.personal-info-1-2-PC {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 上下框架总设置 */
.personal-info-font-0-PC {
  width: 100%;
  height: 100%;
}

/* 个人介绍文字信息设置 */
.personal-info-font-1-PC {
  font-size: 1rem;
  color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 个人详情框架 */
.personal-info-font-2-PC {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* 个人详情设置 */
.personal-info-font-2-0-PC {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 计算文字信息设置 */
.beta-3-info-font-1-PC {
  font-size: 1.2rem;
  font-weight: bold;
}

/* 个人详情文字设置 */
.beta-3-info-font-2-PC {
  font-size: 0.9rem;
  color: #404040;
  text-align: center;
}

/* 下载按钮display设置 */
.personal-info-font-3-PC {
  display: flex;
  align-items: center;
}

/* 按钮大小底色设置 */
.personal-info-button-0-PC {
  width: 120px;
  height: 60px;
  border-radius: 50px;
  background-color: #0c101d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

/* 按钮内文字设置 */
.personal-info-button-1-PC {
  font-size: 0.5rem;
  color: #f3f7ff;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

/* 选中切换颜色 */
.personal-info-button-0-PC:hover {
  background-color: #b73625;
}

/* 技能框架 */
.personal-ability-PC {
  width: 70%;
  height: 90%;
  margin-left: 10%;
}

/* 标题框架 */
.personal-ability-1-PC {
  width: 100%;
  height: auto;
}

/* 标题文字设置 */
.personal-ability-font-PC {
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 技能条框架 */
.personal-ability-2-PC {
  width: 100%;
  height: 100%;
}

/* 技能条间距 */
.personal-ability-2-1-PC {
  width: auto;
  height: auto;
  margin-bottom: 8%;
}

/* 技能信息dsiplay设置 */
.ability-font-PC {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

/* 技能信息设置 */
.ability-font-1-PC {
  font-size: 1.2rem;
  user-select: none;
}

/* 技能条框架 */
.personal-ability-Progress-PC {
  position: relative;
  width: auto;
}

/* 蓝色底色设置 */
.personal-ability-Progress-1-PC {
  position: absolute;
  height: 8px;
  border-radius: 50px;
  background-color: #0c101d;
  z-index: 1;
}

/* HTML技能进度 */
.personal-ability-Progress-1-HTML-PC {
  width: 0%;
  transition: 3s;
}

/* 激活出现动画效果 */
.Beta-3-Personal-Js .personal-ability-Progress-1-HTML-PC {
  width: 60%;
}

/* PS技能进度 */
.personal-ability-Progress-1-PS-PC {
  width: 0%;
  transition: 3s;
}

/* 激活出现动画效果 */
.Beta-3-Personal-Js .personal-ability-Progress-1-PS-PC {
  width: 70%;
}

/* AI技能进度 */
.personal-ability-Progress-1-AI-PC {
  width: 0%;
  transition: 3s;
}

/* 激活出现动画效果 */
.Beta-3-Personal-Js .personal-ability-Progress-1-AI-PC {
  width: 65%;
}

/* PR技能进度 */
.personal-ability-Progress-1-PR-PC {
  width: 0%;
  transition: 3s;
}

/* 激活出现动画效果 */
.Beta-3-Personal-Js .personal-ability-Progress-1-PR-PC {
  width: 35%;
}

/* VEGAS技能进度 */
.personal-ability-Progress-1-VEGAS-PC {
  width: 0%;
  transition: 3s;
}

/* 激活出现动画效果 */
.Beta-3-Personal-Js .personal-ability-Progress-1-VEGAS-PC {
  width: 79%;
}

/* 技能条红色底色 */
.personal-ability-Progress-2-PC {
  position: absolute;
  width: 100%;
  height: 8px;
  border-radius: 50px;
  background-color: #b73625;
}

/* /////////////////个人///////////////// */

/* /////////////////作品///////////////// */
.project-frame-PC {
  position: absolute;
  width: 90%;
  height: 100vh;
  display: flex;
  z-index: 1;
}

.Beta-3-project-Js .project-frame-PC {
  z-index: 2;
}

/* 框架总设置 */
.project-0-PC {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 人物图片设置 */
.project-img-1-PC {
  position: absolute;
  height: 100%;
  margin-left: -800%;
  z-index: 1;
  transition: 0.8s;
}

/* 激活显示 */
.Beta-3-project-Js .project-img-1-PC {
  margin-left: 10%;
}

/* 纯色人物设置 */
.project-img-2-PC {
  position: absolute;
  height: 100%;
  margin-left: -800%;
  transition: 1s;
}

/* 激活显示 */
.Beta-3-project-Js .project-img-2-PC {
  margin-left: 7.5%;
}

/*  */
.project-card-0-PC {
  display: flex;
  flex-direction: column;
}

.project-card-1-PC {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  margin-left: 800%;
  transition: 0.5s;
}

.Beta-3-project-Js .project-card-1-PC {
  margin-left: 0%;
}

.project-card-1-0-PC {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.project-card-1-1-PC {
  position: absolute;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f7ff;
  background-color: #0c101d;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.project-card-1-2-PC {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: #b73625;
  border-radius: 50px;
  margin-left: 0.8%;
}

.project-card-2-PC {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  flex-direction: column;
}

.project-card-2-1-PC {
  /* width: 100%; */
  /* height: 70%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #0c101d; */
  border-radius: 10px;
  margin-left: 300%;
  transition: 0.6s;
}

.project-card-img-1 {
  width: 80%;
  /* border: 1px solid #0c101d; */
}

.Beta-3-project-Js .project-card-2-1-PC {
  margin-left: 0%;
}

.project-card-2-2-PC {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 100%;
  transition: 0.3s;
}

.project-card-2-2-PC :hover {
  background-color: #b73625;
  transition: 0.3s;
}

.Beta-3-project-Js .project-card-2-2-PC {
  margin-left: 0%;
  transition: 0.3s;
}

.project-card-2-2-0-PC {
  width: 120px;
  height: 60px;
  border-radius: 50px;
  background-color: #0c101d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  color: #f3f7ff;
  text-decoration: none;
  user-select: none;
  transition: 0.3s;
}

/* 按钮内文字设置 */
.project-card-2-2-0-a-PC {
  font-size: 0.5rem;
  color: #f3f7ff;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.project-card-3-PC {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 10px;
  margin-right: 500%;
  transition: 0.7s;
}

.Beta-3-project-Js .project-card-3-PC {
  margin-right: 0%;
}


/* /////////////////作品///////////////// */

/* /////////////////关于///////////////// */
.about-frame-PC {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
}

.Beta-3-about-Js .about-frame-PC {
  z-index: 2;
}

.about-frame-1-PC {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-frame-info-0-PC {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: text;
}

.about-frame-info-title-PC {
  font-size: 1.6rem;
  color: #f3f7ff;
  background-color: #b73625;
  padding: 15px;
  border-radius: 50px;
}

.about-frame-info-info-PC {
  margin-top: 6%;
  font-size: 1.2rem;
  color: #f3f7ff;
  text-decoration: none;
  padding: 15px;
  background-color: #0c101d;
  border-radius: 50px;
  
}

.about-1 {
  margin-left: -200%;
  transition: 0.3s;
}

.Beta-3-about-Js .about-1 {
  margin-left: 0%;
}

.about-2 {
  margin-left: -200%;
  transition: 0.4s;
}

.Beta-3-about-Js .about-2 {
  margin-left: 0%;
}

.about-3 {
  margin-left: -200%;
  transition: 0.5s;
}

.Beta-3-about-Js .about-3 {
  margin-left: 0%;
}

.about-4 {
  margin-left: -200%;
  transition: 0.6s;
}

.Beta-3-about-Js .about-4 {
  margin-left: 0%;
}

.about-5 {
  margin-left: -200%;
  transition: 0.7s;
}

.Beta-3-about-Js .about-5 {
  margin-left: 0%;
}

.about-6 {
  margin-left: -200%;
  transition: 0.8s;
}

.Beta-3-about-Js .about-6 {
  margin-left: 0%;
}

.about-7 {
  margin-left: -200%;
  transition: 0.9s;
}

.Beta-3-about-Js .about-7 {
  margin-left: 0%;
  z-index: 3;
}

.about-frame-2-PC {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-frame-img-1-PC {
  position: absolute;
  height: 100%;
  margin-left: 200%;
  z-index: 1;
  transition: 0.5s;
}

.Beta-3-about-Js .about-frame-img-1-PC {
  margin-left: 0%;
  transition: 0.5s;
}

.about-frame-img-2-PC {
  position: absolute;
  margin-left: 200%;
  height: 100%;
  transition: 0.7s;
}

.Beta-3-about-Js .about-frame-img-2-PC {
  margin-left: 2%;
}

.beta-3-about-a-PC {
  color: #b73625;
  letter-spacing: 0px;
  line-height: 0px;
  text-decoration: none;
}

/* /////////////////关于///////////////// */

/* /////////////////音乐///////////////// */
.song-frame-PC {
  position: absolute;
  width: 100%;
  height: 100vh;
  user-select: none;
  display: flex;
}

.Beta-3-Song-Js .song-frame-PC {
  z-index: 2;
}

.song-background-frame {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.song-background-1 {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #0b0b0d;
  margin-left: -150%;
  transition: 0.3s;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f7ff;
}

.song-background-1-1 {
  width: 50%;
  height: 100%;
  margin-left: -23%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 播放器框架 */
.song-Player-frame {
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid #b73625;
  border-radius: 10px; */
}

.song-Player-top {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  justify-content: space-between;
}

.song-Player-top-title {
  width: 20%;
  font-size: 1rem;
}

.song-Player-bottom {
  width: 100%;
  height: 100%;
  display: flex;
}

.song-Player-bottom-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.song-Player-bottom-left-img {
  width: 90%;
}

.song-Player-bottom-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.song-Player-bottom-right-font-1 {
  display: flex;
  flex-direction: column;
}

.song-Player-font-1 {
  font-size: 1.5rem;
}

.song-Player-font-2 {
  margin-top: 2%;
  font-size: 1.2rem;
}

.song-Player-bottom-right-white {
  position: absolute;
  width: 10%;
  height: 1%;
  border-radius: 50px;
  background-color: #f3f7ff;
  z-index: 2;
}

.song-Player-bottom-right-red {
  position: absolute;
  width: 30%;
  height: 1%;
  border-radius: 50px;
  background-color: #b73625;
}

.song-Player-bottom-right-font-2 {
  display: flex;
  justify-content: center;
  
}

.song-Player-bottom-iconfont {
  font-size: 3.5rem;
  margin: 10px;
}

.Beta-3-iconfont-1 {
  display: block;
}

.Song-Button .Beta-3-iconfont-1 {
  display: none;
}

.Beta-3-iconfont-2 {
  display: none;
}

.Song-Button .Beta-3-iconfont-2 {
  display: block;
}

.Beta-3-Song-Js .song-background-1 {
  margin-left: 0%;
}

.song-background-2 {
  position: absolute;
  width: 100%;
  height: 50%;
  /* height: 100%; */
  background-color: #b73625;
  margin-bottom: 1.2%;
  /* z-index: -1; */
  margin-left: -150%;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Beta-3-Song-Js .song-background-2 {
  margin-left: 0%;
}

.song-background-2:hover {
  height: 100%;
}

.Song-Button .song-background-2 {
  height: 100%;
}



.song-textarea-frame {
  position: absolute;
  width: 50%;
  height: 100%;
  text-decoration: none;
  overflow: hidden;
  color: #f3f7ff;
  margin-top: 3%;
  /* margin-bottom: 10%; */
}

.song-textarea-font {
  position: relative;
  font-size: 1rem;
  transition: 0.3s;
  margin-top: -0px;
}

.Beta-3-lrc-1 {
  position: relative;
  /* padding: 20px; */
  /* letter-spacing: 10px; */
  /* line-height: 60px; */
}

.song-img-frame {
  width: 100%;
  height: 100%;
  display: flex;
}

.song-img-1 {
  position: absolute;
  height: 100%;
  margin-left: -100%;
  z-index: 3;
  transition: 0.3s;
}

.Beta-3-Song-Js .song-img-1 {
  margin-left: 13.8%;
}

.song-img-2 {
  position: absolute;
  height: 100%;
  margin-left: -100%;
  transition: 0.5s;
  z-index: 2;
}

.Beta-3-Song-Js .song-img-2 {
  margin-left: 15%;
}
/* /////////////////音乐///////////////// */

@media (max-width: 900px) {
  web-frame-PC .beta-frame-3 {
    display: none;
  }

  .beta-frame-2 {
    margin-left: 0%;
  }

  .phone-beta-2 {
    display: none;
  }

  .beta-frame-3 {
    display: none;
  }

  /* /////////////////首页///////////////// */

  /* 第四版整体框架 */
  .beta-frame-3-phone {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    transition: 0.3s;
    user-select: none;
  }

  /* 背景 */
  .beta-frame-3-background-phone {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #f3f7ff;
    z-index: -2;
  }

  .web-frame-phone {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .web-frame-0-phone {
    width: 100%;
    height: 100%;
  }

  .web-frame-1-0-phone {
    position: absolute;
    width: 100%;
    height: 40%;
  }

  /* 暗蓝色底色 */
  .web-frame-1-1-phone {
    margin-top: 23%;
    background-color: #0c101d;
    z-index: 2;
    transition: 0.3s;
  }

  .toggle-beta-3-phone .web-frame-1-1-phone {
    margin-top: 33%;
  }

  .Beta-3-Personal-Js-phone .web-frame-1-1-phone {
    margin-top: 55%;
  }

  /* 红色底色 */
  .web-frame-1-2-phone {
    margin-top: 18%;
    background-color: #b73625;
    transition: 0.5s;
  }

  .toggle-beta-3-phone .web-frame-1-2-phone {
    margin-top: 28.2%;
  }

  .Beta-3-Personal-Js-phone .web-frame-1-2-phone {
    margin-top: 50.2%;
  }

  /* 人物框架 */
  .web-frame-1-2-1-phone {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 50%;
    z-index: 3;
  }

  .toggle-beta-3 .web-frame-1-2-1-phone {
    z-index: 1;
  }

  /* 人物 */
  .web-frame-1-2-img-1-phone {
    position: absolute;
    margin-right: 0%;
    height: 100%;
    z-index: 4;
    transition: 0.5s;
  }

  .toggle-beta-3-phone .web-frame-1-2-img-1-phone {
    margin-right: 100%;
  }

  /* 纯色人物 */
  .web-frame-1-2-img-2-phone {
    position: absolute;
    margin-right: 4%;
    height: 100%;
    z-index: 4;
    transition: 0.7s;
  }

  .toggle-beta-3-phone .web-frame-1-2-img-2-phone {
    margin-right: -100%;
  }

  /* 按钮部分 */
  .web-frame-2-1-1-phone {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
  }

  /* 按钮空间大小 */
  .web-frame-2-1-buttonn-0-PC {
    width: 100px;
    height: 100px;
  }

  /* display为垂直居中水平居中 */
  .display-center-center-button-PC {
    position: relative;
    display: flex;
    align-items: center;
  }

  /* 标题框架 */
  .web-frame-2-2-2-phone {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }

  .toggle-beta-3-phone .web-frame-2-2-2-phone {
    margin-left: 100%;
  }

  /* 动态图标大小及颜色叠加 */
  .web-frame-2-2-2-title-1-phone {
    /* mix-blend-mode: multiply; */
    position: absolute;
    width: 80%;
    /* height: 17%; */
    z-index: 2;
    top: 24%;
    transition: 0.5s;
  }

  .div-2-3-phone {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 111111;
    display: flex;
    align-items: flex-end;
  }

  .toggle-beta-3-phone .div-2-3-phone {
    z-index: 1;
  }

  .font-size-phone {
    background-color: #b73625;
    margin: 2%;
    width: 50%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div-font-phone {
    font-size: 0.9rem;
    text-decoration: none;
    color: #f3f7ff;
  }

  /* /////////////////首页///////////////// */

  /* /////////////////菜单栏///////////////// */
  .toggle-frame-phone {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 2;
    user-select: none;
  }

  .toggle-frame-0-phone {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .toggle-frame-0-button-phone {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -100%;
    transition: 0.5s;
  }

  .toggle-beta-3-phone .toggle-frame-0-button-phone {
    margin-top: 20%;
  }

  .Beta-3-Personal-Js-phone .toggle-frame-0-button-phone {
    margin-top: -100%;
  }

  .toggle-frame-img-1-phone {
    position: absolute;
    width: 80%;
    margin-left: 200%;
    transition: 0.5s;
  }

  .toggle-beta-3-phone .toggle-frame-img-1-phone {
    margin-left: 0%;
  }

  .Beta-3-Personal-Js-phone .toggle-frame-img-1-phone {
    margin-left: 200%;
  }

  .toggle-frame-img-2-phone {
    width: 80%;
    margin-left: -200%;
    transition: 0.7s;
  }

  .toggle-beta-3-phone .toggle-frame-img-2-phone {
    margin-left: 3%;
  }

  .Beta-3-Personal-Js-phone .toggle-frame-img-2-phone {
    margin-left: -200%;
  }

  .toggle-buton-phone {
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toggle-buton-0-phone {
    width: 65px;
    height: 65px;
    border-radius: 50px;
  }

  .toggle-buton-1-phone {
    position: absolute;
    background-color: #0c101d;
    color: #f3f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
  }
  .toggle-buton-2-phone {
    margin-left: 15%;
    background-color: #b73625;
  }

  /* /////////////////菜单栏///////////////// */

  /* /////////////////个人介绍///////////////// */
  .personal-frame-phone {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 1;
    user-select: none;
    flex-direction: column;
    align-items: center;
  }

  .Beta-3-Personal-Js-phone .personal-frame-phone {
    z-index: 3;
  }

  .personal-frame-0-phone {
    width: 100%;
    height: 100%;
  }

  .personal-frame-img-2-0-phone {
    height: 50%;
    display: flex;
    align-items: flex-end;
  }

  .personal-frame-img-1-phone {
    position: absolute;
    width: 30%;
    display: flex;
    margin-left: 100%;
    transition: 0.3s;
  }

  .Beta-3-Personal-Js-phone .personal-frame-img-1-phone {
    position: absolute;
    width: 30%;
    display: flex;
    margin-left: 0%;
    z-index: 2;
  }

  .personal-frame-img-2-phone {
    width: 30%;
    margin-left: -100%;
    transition: 0.5s;
  }

  .Beta-3-Personal-Js-phone .personal-frame-img-2-phone {
    position: absolute;
    width: 30%;
    margin-left: 3.5%;
  }

  .personal-frame-card-0-phone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .personal-card-1-phone {
    margin-left: 200%;
    margin-top: 20%;
    margin-bottom: 5%;
    width: 90%;
    height: 40%;
    display: flex;
    transition: 0.3s;
  }

  .Beta-3-Personal-Js-phone .personal-card-1-phone {
    margin-left: 0%;
  }

  .personal-card-2-phone {
    margin-left: -200%;
    display: flex;
    width: 90%;
    height: 40%;
    transition: 0.5s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Beta-3-Personal-Js-phone .personal-card-2-phone {
    margin-left: 0%;
    /* margin-top: 2%; */
  }

  .personal-card-img-phone {
    width: 70%;
    height: 100%;
  }

  .personal-card-img-1-phone {
    position: absolute;
    display: flex;
    width: 35%;
    z-index: 1;
  }

  .personal-card-img-2-phone {
    position: absolute;
    display: flex;
    width: 35%;
    margin-left: 2%;
  }

  .personal-card-info-phone {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .personal-card-info-0-phone {
    width: 100%;
    height: 100%;
  }

  .personal-card-info-1-phone {
    font-size: 0.7rem;
    color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .personal-card-info-2-phone {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .personal-card-info-2-0-phone {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .personal-card-info-2-1-phone {
    width: 30px;
    height: 30px;
  }

  .personal-card-info-font-1-phone {
    font-weight: bold;
  }

  .personal-card-info-font-2-phone {
    font-size: 0.5rem;
  }

  .personal-card-button-phone {
    display: flex;
    align-items: center;
  }

  .personal-card-3-phone {
    width: 75px;
    height: 50px;
    border-radius: 55px;
    background-color: #0c101d;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .personal-card-button-font-phone {
    text-decoration: none;
    color: #f3f7ff;
    font-size: 0.5rem;
  }

  .personal-card-2-1-phone {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .personal-card-2-2-phone {
    width: 100%;
    height: 100%;
  }

  .personal-card-ID-phone {
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
  }

  .personal-card-Progress-phone {
    width: 100%;
    height: 100%;
    display: flex;
    /* margin-top: 2%; */
    align-items: center;
  }

  .personal-card-2-0-phone {
    /* margin-top: 4%; */
    margin-bottom: 6%;
  }

  .personal-card-Progress-0-phone {
    width: 90%;
    height: 1%;
    border-radius: 50px;
  }

  .personal-card-Progress-1-phone {
    position: absolute;
    background-color: #0c101d;
    z-index: 2;
  }

  .Beta-3-Personal-Js-phone .personal-card-Progress-HTML-phone {
    width: 60%;
  }

  .Beta-3-Personal-Js-phone .personal-card-Progress-PS-phone {
    width: 70%;
  }

  .Beta-3-Personal-Js-phone .personal-card-Progress-AI-phone {
    width: 65%;
  }

  .Beta-3-Personal-Js-phone .personal-card-Progress-PR-AE-phone {
    width: 35%;
  }

  .Beta-3-Personal-Js-phone .personal-card-Progress-VEGAS-phone {
    width: 79%;
  }

  .personal-card-Progress-2-phone {
    position: absolute;
    background-color: #b73625;
  }
}

.canvas-lrc1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lrc1 {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Beta-3-Song-Js .lrc1 {
  z-index: 2;
}