body {
  position: relative;
  margin: 0%;
}

/* .Mirror-01-Pc {
  border: 1px solid #ff0000;
} */

/* 主体框架 */
.Index-Frame-Pc {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 背景框架 */
.Index-background-Pc {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* 克莱因蓝 */
.Index-background-Klein-Pc {
  width: 50%;
  height: 100vh;
  background-color: #002fa7;
}

/* 白色 */
.Index-background-white-Pc {
  width: 50%;
  height: 100%;
  background-color: #f3f7ff;
}

/* 内容框架 */
.Index-Info-Pc {
  width: 95%;
  height: 90%;
}

/* 内左上下 */
.Index-Info-title-Pc {
  width: 100%;
  height: 15%;
}

/* 内左中 */
.Index-Info-Info-Pc {
  width: 100%;
  height: 70%;
  display: flex;
}

/* 内左右 */
.Index-Info-Info-all-Pc {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 上 */
.Index-Info-Info-1-Pc {
  width: 65%;
  height: 30%;
  background-color: #f3f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Index-International-Klei-Blue-PC {
  background-color: #002fa7;
}

.Index-Info-International-Klei-Blue-PC {
  width: 65%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Index-Info-International-Klei-Blue-PC span {
  display: flex;
  color: #002fa7;
  font-size: 1.2rem;
  font-family: "锐字真言体免费商用";
  margin-top: 10%;
  letter-spacing: 0.2rem;
}

/* 下 */
.Index-Info-Info-2-Pc {
  width: 65%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.Index-Info-Info-2-Pc span {
  font-size: 1.2rem;
  color: #f3f7ff;
  font-family: "锐字真言体免费商用";
  margin-top: 10%;
  letter-spacing: 0.2rem;
}

/* 克莱因蓝MirrorFlower */
.International-Klei-Blue {
  width: 80%;
}

.Index-Info-a-PC {
  display: flex;
  align-items: center;

}

.Index-Info-a-PC a {
  font-size: 0.9rem;
  color: #f3f7ff;
  font-family: "锐字真言体免费商用";
  text-decoration: none;
  letter-spacing: 0.2rem;
  margin-left: 8.5%;
}
